@import "tailwindcss";

:root {
  --background: #e9e7e0e3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

img{
  box-sizing: border-box;
  object-fit : cover;
  width: 100%;
  max-height: 100%;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h4{
   @apply font-medium text-3xl text-center
}

.btn{
  @apply border-2 border-gray-400 bg-gray-700 hover:bg-gray-400 hover:border-gray-700 text-gray-400 hover:text-gray-700 p-2 rounded-md transition duration-200
}

.arrow-icon1{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  animation: arrow-icon 2s infinite;
}

.arrow-icon2{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  animation: arrow-icon 2s infinite ;
  animation-delay: 0.5s;
}


.arrow-icon3{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  animation: arrow-icon 2s infinite ;
  animation-delay: 1s;
}

.react-logo{
  transition-property: all;
  transition-duration: 3s ;
  
}

  @keyframes arrow-icon{
    0% {
     transform: translate(0px, 0px) rotateZ(0.001deg);  
     animation-timing-function:ease-in-out
    }
  
    50% {
      transform: translate(6px, 0px) rotateZ(0.001deg);
      animation-timing-function:ease-in-out
    }
  
    100% {
     transform: translate(0px, 0px) rotateZ(0.001deg);
     animation-timing-function:ease-in-out
    }
  }

